{% extends 'base.html' %}

{% block head %}
<title>Teacher's Dashboard</title>
{% endblock %}

{% block body %}

<body class="shopping-cart sidebar-collapse">
  <nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100"
       id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a href="{% url 'homepage' %}" style="color: white;">
          <div class="navbar-brand">
            Attendance Management
          </div>
        </a>
      </div>
      <a href="{% url 'logout' %}">
        <button type="submit" class="btn btn-danger btn-raised btn-lg">Log Out</button>
      </a>
    </div>
  </nav>
  <div class="page-header header-filter header-small" data-parallax="true"
       style="background-image: url('../static/img/bkg.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Teachers's Dashboard</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="card card-plain">
        <div class="card-body">
          <h3 class="card-title">
            Teacher id : {{teacher.Tid}} <br>
            Name : {{teacher.name}} <br>
            Email : {{teacher.email}}</h3>
          <span> <b>Note:</b> Keep your teacher id Number safe. To rest your password it will be required. </span>
          <h3 class="card-title">Lectures Conducted: {{lectures.count}} </h3>
          <a class="btn btn-danger btn-raised btn-lg" href="{% url 'add_edit_lecture' %}">
            Edit/Add lectures
          </a>
          <br />
          <h2 class="card-title" style="display: flex;justify-content: center;">Recent Activity </h2>
          <div class="table-responsive">
            <table class="table table-shopping table-striped">
              <thead>
                <tr>
                  <th class="text-center">Topic</th>
                  <th class="text-center">Name</th>
                  <th class="text-center">Lecs. Attended</th>
                  <th class="text-center">Date</th>
                  <th class="text-center">Lecs. Start</th>
                  <th class="text-center">Lecs. End </th>
                </tr>
              </thead>
              <tbody>
                {% for a in attendance %}
                <tr>
                  <td class="td-number text-center ellipsis">
                    {{a.lecture.topic}}
                  </td>
                  <td class="td-number text-center">
                    {{a.student.name}}
                  </td>
                  <td class="td-number text-center">
                    <div class="form-check disabled">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" disabled
                               {% if a.attended %}
                               checked
                               {% endif %}>
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                  </td>
                  <td class="td-number text-center">
                    {{a.lecture.date}}
                  </td>
                  <td class="td-number text-center">
                    {{a.lecture.start_time}}
                  </td>
                  <td class="td-number text-center">
                    {{a.lecture.end_time}}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}